In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir(r"C:\Users\34208\Downloads\MovieLens")

评分，用户信息，电影信息一共三个表，分别读到 DataFrame 对象中

In [72]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('users.dat', sep='::', header=None, names=unames, engine='python')

mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('movies.dat', sep='::', header=None, names=mnames, engine='python')

rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('ratings.dat', sep='::', header=None, names=rnames, engine='python')

In [73]:
users.head()

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [74]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [75]:
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

将所有数据整合成一个表

In [88]:
data = pd.merge(pd.merge(users, ratings), movies)
data.head()

,user_id,gender,age,occupation,zip,movie_id,rating,timestamp,title,genres
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama

按性别计算每部电影的平均得分

In [89]:
mean_ratings = data.pivot_table(values='rating', index='title',
                                columns='gender', aggfunc='mean', fill_value=0)

In [90]:
mean_ratings.head()

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

过滤掉评分数据不够 250 条的电影，利用 size() 得到一个含有各电影分组大小的 Series 对象

In [91]:
ratings_by_title = data.groupby('title').size()

In [92]:
ratings_by_title.head()

title
$1,000,000 Duck (1971)            37
'Night Mother (1986)              70
'Til There Was You (1997)         52
'burbs, The (1989)               303
...And Justice for All (1979)    199
dtype: int64

In [93]:
active_titles = ratings_by_title.index[ratings_by_title >= 250]

In [94]:
active_titles

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

In [95]:
mean_ratings = mean_ratings.loc[active_titles]

In [97]:
mean_ratings

gender                                                     F         M
title
'burbs, The (1989)                                  2.793478  2.962085
10 Things I Hate About You (1999)                   3.646552  3.311966
101 Dalmatians (1961)                               3.791444  3.500000
101 Dalmatians (1996)                               3.240000  2.911215
12 Angry Men (1957)                                 4.184397  4.328421
13th Warrior, The (1999)                            3.112000  3.168000
2 Days in the Valley (1996)                         3.488889  3.244813
20,000 Leagues Under the Sea (1954)                 3.670103  3.709205
2001: A Space Odyssey (1968)                        3.825581  4.129738
2010 (1984)                                         3.446809  3.413712
28 Days (2000)                                      3.209424  2.977707
39 Steps, The (1935)                                3.965517  4.107692
54 (1998)                                           2.701754  2.782178
7th Voyage of Sinbad, The (1958)                    3.409091  3.658879
8MM (1999)                                          2.906250  2.850962
About Last Night... (1986)                          3.188679  3.140909
Absent Minded Professor, The (1961)                 3.469388  3.446809
Absolute Power (1997)                               3.469136  3.327759
Abyss, The (1989)                                   3.659236  3.689507
Ace Ventura: Pet Detective (1994)                   3.000000  3.197917
Ace Ventura: When Nature Calls (1995)               2.269663  2.543333
Addams Family Values (1993)                         3.000000  2.878531
Addams Family, The (1991)                           3.186170  3.163498
Adventures in Babysitting (1987)                    3.455782  3.208122
Adventures of Buckaroo Bonzai Across the 8th Di...  3.308511  3.402321
Adventures of Priscilla, Queen of the Desert, T...  3.989071  3.688811
Adventures of Robin Hood, The (1938)                4.166667  3.918367
African Queen, The (1951)                           4.324232  4.223822
Age of Innocence, The (1993)                        3.827068  3.339506
Agnes of God (1985)                                 3.534884  3.244898
...                                                      ...       ...
White Men Can't Jump (1992)                         3.028777  3.231061
Who Framed Roger Rabbit? (1988)                     3.569378  3.713251
Who's Afraid of Virginia Woolf? (1966)              4.029703  4.096939
Whole Nine Yards, The (2000)                        3.296552  3.404814
Wild Bunch, The (1969)                              3.636364  4.128099
Wild Things (1998)                                  3.392000  3.459082
Wild Wild West (1999)                               2.275449  2.131973
William Shakespeare's Romeo and Juliet (1996)       3.532609  3.318644
Willow (1988)                                       3.658683  3.453543
Willy Wonka and the Chocolate Factory (1971)        4.063953  3.789474
Witness (1985)                                      4.115854  3.941504
Wizard of Oz, The (1939)                            4.355030  4.203138
Wolf (1994)                                         3.074074  2.899083
Women on the Verge of a Nervous Breakdown (1988)    3.934307  3.865741
Wonder Boys (2000)                                  4.043796  3.913649
Working Girl (1988)                                 3.606742  3.312500
World Is Not Enough, The (1999)                     3.337500  3.388889
Wrong Trousers, The (1993)                          4.588235  4.478261
Wyatt Earp (1994)                                   3.147059  3.283898
X-Files: Fight the Future, The (1998)               3.489474  3.493797
X-Men (2000)                                        3.682310  3.851702
Year of Living Dangerously (1982)                   3.951220  3.869403
Yellow Submarine (1968)                             3.714286  3.689286
You've Got Mail (1998)                              3.542424  3.275591
Young Frankenstein (1974)                           4.289963  4.239177
Young Guns (1988)                                   3.371795  3.425620
Young Guns II (1990)                                2.934783  2.904025
Young Sherlock Holmes (1985)                        3.514706  3.363344
Zero Effect (1998)                                  3.864407  3.723140
eXistenZ (1999)                                     3.098592  3.289086

[1216 rows x 2 columns]

查看女性观众喜欢的电影

In [99]:
top_female_ratings = mean_ratings.sort_values(by='F', ascending=False)

In [100]:
top_female_ratings

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Creature Comforts (1990)                            4.513889  4.272277
Usual Suspects, The (1995)                          4.513317  4.518248
It Happened One Night (1934)                        4.500000  4.163934
Rear Window (1954)                                  4.484536  4.472991
Seven Samurai (The Magnificent Seven) (Shichini...  4.481132  4.576628
Sixth Sense, The (1999)                             4.477410  4.379944
Third Man, The (1949)                               4.466019  4.448276
Some Like It Hot (1959)                             4.462745  4.228769
City Lights (1931)                                  4.452055  4.363636
Notorious (1946)                                    4.448718  4.211073
Philadelphia Story, The (1940)                      4.446809  4.201729
Life Is Beautiful (La Vita � bella) (1997)          4.422343  4.286624
Strangers on a Train (1951)                         4.414815  4.262248
Bicycle Thief, The (Ladri di biciclette) (1948)     4.407407  4.343434
Mr. Smith Goes to Washington (1939)                 4.400000  4.183746
Thin Blue Line, The (1988)                          4.396552  4.213270
Killing Fields, The (1984)                          4.378049  4.211268
Dr. Strangelove or: How I Learned to Stop Worry...  4.376623  4.464789
Ran (1985)                                          4.365079  4.248299
North by Northwest (1959)                           4.364458  4.390641
All About Eve (1950)                                4.363057  4.186992
Manchurian Candidate, The (1962)                    4.358824  4.326050
...                                                      ...       ...
Rocky III (1982)                                    2.361702  2.943503
Congo (1995)                                        2.347368  2.217021
House on Haunted Hill, The (1999)                   2.333333  2.299213
Spawn (1997)                                        2.333333  2.660287
Blue Lagoon, The (1980)                             2.321739  2.337662
Nightmare on Elm Street Part 2: Freddy's Reveng...  2.319149  2.321586
Inspector Gadget (1999)                             2.316327  2.112727
Porky's (1981)                                      2.296875  2.836364
Honey, I Blew Up the Kid (1992)                     2.295918  2.243816
Wild Wild West (1999)                               2.275449  2.131973
Ace Ventura: When Nature Calls (1995)               2.269663  2.543333
Fly II, The (1989)                                  2.257143  2.321285
Cable Guy, The (1996)                               2.250000  2.863787
Island of Dr. Moreau, The (1996)                    2.245283  2.191882
Grease 2 (1982)                                     2.243478  1.792553
Superman IV: The Quest for Peace (1987)             2.216216  1.847458
I Still Know What You Did Last Summer (1998)        2.200000  2.204444
Eye of the Beholder (1999)                          2.181818  2.115789
Godzilla (1998)                                     2.175439  2.343891
Super Mario Bros. (1993)                            2.163636  1.820339
Karate Kid III, The (1989)                          2.155556  2.116183
Teenage Mutant Ninja Turtles II: The Secret of ...  2.152174  2.121951
Striptease (1996)                                   2.150000  2.193277
Howard the Duck (1986)                              2.074627  2.103542
Anaconda (1997)                                     2.000000  2.248447
Avengers, The (1998)                                1.915254  2.017467
Speed 2: Cruise Control (1997)                      1.906667  1.863014
Rocky V (1990)                                      1.878788  2.132780
Barb Wire (1996)                                    1.585366  2.100386
Battlefield Earth (2000)                            1.574468  1.616949

[1216 rows x 2 columns]